@charset "utf-8";
/* CGV PJ 메인 페이지 CSS - main.css */

/* 외부CSS합치기 */
@import url(reset.css);
@import url(core.css);

body{
    background-color: #000;
}

/* 공사중표시 */
body *{
    outline: 2px dotted lime;
}

/* 공통 클래스 */
.ibx{
    max-width: 1200px;
    margin: 0 auto;
}

/****************** 1. 상단영역 ******************/
.top{
    height: 80px;
}
/****************** 2. 메인영역 ******************/
.cont{
    height: 788px;
}
/****************** 3. 하단영역 ******************/
.info{
    height: 100px;
}
