@charset "utf-8";
/* 보그 PJ 공통 CSS - common.css */
/* 상단,하단 공통 모듈 */

/***************** 1. 상단영역 *****************/
.top{
    height: 206px;
}
/* 1-1. 상단메뉴 */
.tmenu{
    /* 플렉스박스 */
    display: flex;
    max-width: 970px;
    height: 44px;
    margin: 0 auto;
}
/* 플렉스 박스 직계자식 div */
.tmenu>div{
    /* 등분할박스 + 높이값 자동채움 */
    flex: 1;
}

/* 1-1-1. sns박스 */
.sns a{
    width: 16px;
    height: 16px;
    /* .fi 설정에 inline-block되어 있음
    (크기적용됨!) */
    font-size: 16px;
    text-align: center;
    line-height: 16px;
}

/***************** 2. 하단영역 *****************/
.info{
    height: 285px;
}