@charset "utf-8";
/* CGV PJ 미디어쿼리 CSS -  media.css */

/*************** 1300px 이하 시작 ***************/
@media screen and (max-width: 1300px) {

  /* GNB 메뉴 */
  .gnb {
    right: 60px;
  }
}

/*************** 1300px 이하 끝 ***************/

/*************** 1050px 이하 시작 ***************/
@media screen and (max-width: 1050px) {

  /* 1. gnb메뉴 */
  .gnb {
    right: 3px;
    bottom: auto;
    top: 76px;
    text-align: right;
  }


  /* 2. 하위 ul */
  .glist {
    flex-direction: column;
    display: none;
    /* 처음에 안보임 */
  }

  /* .gnb에 마우스 오버시 .glist보이기 */
  .gnb:hover .glist {
    display: flex;
    /* 반드시 보이게할 경우 원래 display씀! */
  }


  /* 3. 영사기박스 */
  #cam {
    bottom: auto;
    top: -54px;
    right: 0;
  }

  /* 4. 마우스 오버시 서브메뉴 숨기기 */
  .glist>li:hover .smenu {
    display: none;
  }
}

/*************** 1050px 이하 끝 ***************/

/*************** 780px 이하 시작 ***************/
@media screen and (max-width: 780px) {

  /* 하단박스 */
  .info {
    height: auto;
  }

  /* 하단 주소박스 */
  #info address {
    text-align: center;
    padding: 0;
  }

  /* 하단로고 */
  #info img {
    float: none;
    margin-right: 0;
  }

  /* 하단 주소만 싼 박스 */
  #info address span {
    display: block;
    padding: 5vw;
  }

  /* 하단 sns 박스 */
  ul.sns {
    position: static;
    justify-content: center;
    padding: 20px 0;
  }

}

/*************** 780px 이하 끝 ***************/

/*************** 600px 이하 시작 ***************/
@media screen and (max-width: 600px) {

  /* 타이틀 */
  h1.tit {
    font-size: 9vw;
  }

  /* 영사기 */
  #cam {
    transform: scale(0.7);
  }

  /* 메인영역 비율변경 */
  .cont::before {
    padding-top: 150%;
  }

  /* 메인 배경 속성변경 */
  .cont {
    background-size: 130%;
    background-position: top;
    /* 배경 위치 가로는 안써도 자동 center */
  }

  /* 스크린 위치,크기변경 */
  #screen {
    top: 9.8%;
    left: 12.6%;
    width: 76.3%;
    height: 28.8%;
  }

  /* 예고편 선택메뉴박스 */
  .mlist {
    width: 90vw;
    bottom: 0;
  }

  /* 예고편 메뉴 플렉스박스 */
  .mlist ul {
    flex-wrap: wrap;
    perspective: 78vw;
  }

  /* 예고편 li 리스트 */
  .mlist ul>li{    
    margin-bottom: 2vh;
  }

  /* 예고편 포스터 이미지 */
  .mlist img {
    width: 28vw;
  }

  /* 예고편 영화정보 */
  .movtxt {
    font-size: 4.7vw;
  }

  /* 예고편 영화정보 타이틀  */
  .movtxt li:first-child {
    font-size: 5.3vw;
  }

}

/*************** 600px 이하 끝 ***************/