@charset "utf-8";
/* 로봇 PJ CSS - robot.css */

html,body{
    margin: 0;
    padding: 0;
}

body{
    /* 배경: 색이반고윙/크 */
    background: url(../images/bg.jpg) no-repeat fixed top/cover;
    padding-top: 100px;
    
}

/* 공사중표시 */
body *{
    outline: 2px dashed lime;
}

/* 로봇머리 */
#head{
    width: 250px;
    height: 250px;
    /* 마영오! 블록중앙 */
    margin: 0 auto;
    background: url(../images/metal01.jpg) no-repeat center/cover;
}