@charset "utf-8";
/* 로봇 PJ CSS - robot.css */

html,
body {
    margin: 0;
    padding: 0;
}

body {
    /* 배경: 색이반고윙/크 */
    background: url(../images/bg.jpg) no-repeat fixed top/cover;
    padding-top: 100px;
}

/* 공사중표시 */
body * {
    outline: 2px dashed lime;
}

/* 로봇머리 */
#head {
    position: relative;
    /* 부모자격 */
    width: 250px;
    height: 250px;
    /* 마영오! 블록중앙 */
    margin: 0 auto;
    background: url(../images/metal01.jpg) no-repeat center/cover;
    border-radius: 50px 50px 0 0;
}

/* 눈공통 */
.eye {
    position: absolute;
    top: 50px;
    /* 나의부모는? #head */

    width: 50px;
    height: 50px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* 원 */
    border-radius: 50%;
    border: 5px double #555;
}

/* 눈1 */
#eye1 {
    left: 50px;
    background-image: url(../images/e1.jpg);
}

/* 눈2 */
#eye2 {
    right: 50px;
    background-image: url(../images/e2.jpg);
}

/* 코 */
#nose {
    position: absolute;
    top: 102px;
    left: 100px;
    /* 부모는? #head */

    width: 50px;
    height: 75px;
    background: url(../images/nose.jpg) no-repeat 0/110% 100%;
    border-radius: 30px;
}

/* 입 */
#mouth {
    position: absolute;
    bottom: 16px;
    left: 79px;
    /* 부모는? #head */
    width: 90px;
    height: 40px;
    background: url(../images/mouth.png) no-repeat 0/100% 100%;
}

/* 귀공통 */
.ear {
    position: absolute;
    top: 80px;
    /* 부모는? #head */
    width: 50px;
    height: 85px;
    background: url(../images/metal02.jpg) no-repeat 0/100% 100%;
}

/* 귀1 */
#ear1 {
    left: -50px;
    border-radius: 40px 0 0 40px;
}

/* 귀2 */
#ear2 {
    right: -50px;
    border-radius: 0 40px 40px 0;
}

/* 로봇몸 */
#body {
    position: relative;
    /* 부모자격! */

    width: 250px;
    height: 300px;
    margin: 0 auto;
    /* 마영오! */
    margin-top: 50px;
    margin-bottom: 500px;
    background: url(../images/metal01.jpg) no-repeat center/cover;    
    border-bottom: 10px solid #222;
}

/* 목 */
#neck {
    position: absolute;
    top: -50px;
    left: 95px;
    /* 부모는? #body */

    width: 60px;
    height: 50px;
    background: url(../images/metal02.jpg) no-repeat 0/100% 100%;
}

/* 팔공통 */
.arm {
    position: absolute;
    top: 30px;
    /* 부모는? #body */

    width: 50px;
    height: 240px;
    background: url(../images/metal02.jpg) repeat-y 0/100%;
}

/* 팔1 */
#arm1 {
    left: -65px;
}

/* 팔2 */
#arm2 {
    right: -65px;
}

/* 가상요소로 집게손 만들기 */
.arm::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -53px;
    left: -15px;
    /* 부모는? .arm */
    width: 80px;
    height: 80px;
    border: 2px solid #555;
    border-radius: 50%;
    /* 원 */
    background-color: #ccc;
    /* 크기유지: 보더박스(보더,패딩포함) */
    box-sizing: border-box;
}

/* 가상요소로 집게손틈 만들기 */
.arm::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -53px;
    left: 15px;
    /* 부모는? .arm */
    width: 20px;
    height: 51px;
    background-color: #000;
    border-radius: 10px;
}

/* 다리공통 */
.leg {
    position: absolute;
    top: 310px;
    /* 부모는? #body */

    width: 70px;
    height: 300px;
    background: url(../images/metal02.jpg) repeat-y 0/100%;
}

/* 다리1 */
#leg1 {
    left: 0;
}

/* 다리2 */
#leg2 {
    right: 0;
}

/* 가상요소로 로봇발 만들기 */
.leg::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -42px;
    left: -9px;
    /* 부모는? .leg */
    width: 90px;
    height: 64px;
    border: 2px solid #555;
    border-bottom: 18px solid #555;
    border-radius: 40px 40px 0 0;
    background-color: #ccc;
    /* 크기유지: 보더박스(보더,패딩포함) */
    box-sizing: border-box;
}

/* 어깨공통 */
.sh{
    position: absolute;
    top: -20px;
    /* 부모는? #body */
    width: 80px;
    height: 80px;
    background: url(../images/metal01.jpg) no-repeat center/cover;
}
/* 어깨1 */
#sh1{
    left: -80px;
    border-radius: 50% 5px 5px 50%;
}
/* 어깨2 */
#sh2{
    right: -80px;
    border-radius: 5px 50% 50% 5px;
}

/* TV */
#tv{
    position: absolute;
    top: 65px;
    left: 26px;
    /* 부모는? #body */

    width: 200px;
    height: 150px;
    background: url(../images/tv.jpg) no-repeat 0/100% 100%;
    border-radius: 10px;
}
/* 스크린 */
#screen{
    position: absolute;
    top: 16px;
    left: 11px;
    /* 부모는? #tv */
    width: 142px;
    height: 107px;
    background-color: #000;
    border-radius: 11px;
    /* 넘치는 자식요소 숨기기 */
    overflow: hidden;
}
/* 유튜브 아이프레임 */
#screen iframe{
    position: absolute;
    top: 0;
    left: -21px;
    /* 부모는? #screen */
    width: 131%;
    height: 100%;

    /* 아이프레임 기본보더 없앰 */
    border: none;
}