@charset "utf-8";
/* 도깨비 공통 디자인 CSS - common.css */
/* 상단영역, 하단영역 등 공통디자인 */

/************** 1. 상단영역 **************/
#top{/* 겉박스 */
    background-color: #fff;
}
.top{/* 속박스 */
    /* 높이값 */
    height: 127px;
}
/* 1-1. 메인로고 */
#logo{
    padding: 20px;
    text-align: center;
}
/* 로고이미지 */
#logo img{
    width: 100px;
}

/* 2-2. GNB메뉴 */
.gnb{
    background-color: #218cff;
}
/* ul 초기화 */
.gnb ul{
    /* 가로크기: 
    li하나 200px*4=800px */
    width: 800px;

    /* 마영오 - 블록요소 가로중앙정렬 */
    margin: 0 auto;
    
    /* outline: 2px dotted red; */
}
/* 가상요소로 clear설정하기 */
.gnb ul::after{
    content: '';
    display: block;
    clear: both;
}
/* li 리스트요소 */
.gnb>ul>li{
    /* 블록요소 옆으로 흐르게 */
    float: left;
    height: 50px;
}
/* li 하위 a요소 */
.gnb>ul>li>a{
    /* 글자색 */
    color: #fff;
    /* 밑줄없앰 */
    text-decoration: none;
    /* 글자크기 */
    font-size: 17px;

    /* 디자인적용위해 블록변경! */
    display: block;
    width: 200px;
    text-align: center;
    line-height: 50px;
    /* 트랜지션: 속시이지 */
    transition: all .3s;
}
/* 부모li에 마우스 오버시 상위메뉴 a요소 변경 */
.gnb>ul>li:hover>a{
    background-color: #c3e3ff;
    color: #000;
}

/* 서브메뉴 */
.smenu{
    /* 서브메뉴 숨김장치
    -> 높이값0 + 넘치는자식요소 숨기기 
    주의) 위아래방향 패딩 없어야함! */
    height: 0;/* h0 */
    overflow: hidden;/* oh */
    /* 배경색 */
    background-color: #c3e3ff;
    /* 트랜지션: 속시이지 */
    transition: height .4s ease-out;
    /* outline: 2px dotted blue; */

}
/* 상위메뉴 li에 마우스 오버시
하위메뉴박스 높이값 복원하기(트랜지션) */
/* 두번째메뉴 */
.gnb>ul>li:nth-child(2):hover .smenu{
    height: 180px;
}
/* 세번째메뉴 */
.gnb>ul>li:nth-child(3):hover .smenu{
    height: 100px;
}

/* 서브메뉴 ol요소
- 안쪽 박스에 패딩을 준 이유는?
.smenu박스는 높이값을 0으로 자식요소
숨기기를 할 박스이므로 패딩이 있으면
높이값 0이어도 패딩때문에 숨겨지지 않는다!
따라서 안쪽박스에 패딩설정을 해야한다! */
.smenu ol{
    /* 안쪽여백 */
    padding: 10px;
}
/* 서브메뉴 a요소 */
.smenu a{
    /* 글자색 */
    color: #000;
    /* 밑줄없앰 */
    text-decoration: none;
    /* 블록변경 */
    display: block;
    /* 글자중앙 */
    text-align: center;
    /* 글자크기 */
    font-size: 14px;
    /* 줄간격 */
    line-height: 40px;
    /* 트랜지션: 속시이지 */
    transition: .3s;
}
/* 서브메뉴 a에 오버시 */
.smenu a:hover{
    background-color: #ececec;
    color: orangered;
}


/************** 2. 메인영역 **************/
.cont{
    /* 높이값 */
    height: 800px;
}


/************** 3. 하단영역 **************/
.info{
    /* 높이값 */
    height: 241px;
}