@charset "utf-8";
/* 도깨비 공통 디자인 CSS - common.css */
/* 상단영역, 하단영역 등 공통디자인 */

/************** 1. 상단영역 **************/
.top{
    /* 높이값 */
    height: 127px;
}


/************** 2. 메인영역 **************/
.cont{
    /* 높이값 */
    height: 800px;
}


/************** 3. 하단영역 **************/
.info{
    /* 높이값 */
    height: 241px;
}