@charset "utf-8";
/* 도깨비 메인 페이지 미디어쿼리 - media.css */

/* 1024px 이하 미디어쿼리 시작 */
@media screen and (max-width:1024px) {

    /* 1. 전체 rem단위 글자 변경위한 
    root 글자크기 변경 */
    html {
        font-size: 8px;
    }

    /* 2. 상단영역 중앙박스  */
    .top {
        height: 120px;
    }

    /* 3. GNB메뉴 */
    .gnb ul {
        width: 495px;
    }

    /* 4. 탑메뉴 */
    .tmenu>ul>li>a {
        line-height: 1.7;
    }

    /* 5. 개별서브메뉴 오버시
    + 가상요소 서브배경 오버시 */
    
    /* 첫번째메뉴 - 3개 */
    .gnb>ul>li:nth-child(1):hover .smenu,
    .gnb > ul > li.m1:hover::after {
        height: 96px;
        /* 32*3 */
    }

    /* 세번째메뉴 - 4개 */
    .gnb>ul>li:nth-child(3):hover .smenu,
    .gnb > ul > li.m2:hover::after  {
        height: 128px;
        /* 32*4 */
    }

    /* 네번째메뉴 - 2개 */
    .gnb>ul>li:nth-child(4):hover .smenu,
    .gnb > ul > li.m3:hover::after {
        height: 64px;
        /* 32*2 */
    }
}

/* 1024px 이하 미디어쿼리 끝   */