@charset "utf-8";
/* 도깨비 초기화 CSS - reset.css */
/* 요소의 기본셋팅 초기화 */

/* 1. 기본태그 초기화 - 마진,패딩 없애기 */
html,body,h1,h2,h3,h4,h5,h6,ul,ol,dl,dt,dd{
    margin: 0;
    padding: 0;
}
/* 2. 헤딩태그 글자크기 초기화 */
h1,h2,h3,h4,h5,h6{
    font-size: 100%;
    /* 글자크기 100%는 기본글자크기와 같아지는 셋팅
    기본글자크기는 16px */
}
/* 3. ul,ol 초기화 */
ul,ol{
    list-style: none;/* lin */
    /* 블릿, 숫자 표시 없앰 */
}
